body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #202125;
  color: white; /* text color is white */
}

.section {
  transition: opacity 0.3s ease-in-out;
}

.section.active {
  opacity: 1;
}

.section:not(.active) {
  opacity: 0;
}

nav {
    background-color: black; /* top banner*/
    color: white;
    padding: 15px;
    text-align: centre;
    font-size: 24px;
}

nav ul {
    font-size: 16px;
    background-color: black; /*change the color*/
    list-style-type: none;
    margin: 0;
    padding: 4px;
    display: flex;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

.logo {
    margin-bottom: 10px;
    font-size: 35px;
    font-family: "Gochi Hand", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    color: white;
}

nav ul li {
    flex: 1;
    color: white;
    text-align: center;
}

/* This targets the links in the navigation bar */
nav ul li a {
  color: white; /* Set the default color of the links (for example, pinkish) */
  text-decoration: none; /* Remove underline from links */
}

/* This is for when the user hovers over the links */
nav ul li a:hover {
  color: lightsteelblue; /* Change the color to white on hover */
}


.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
}

.post {
  display: flex; /* Flexbox for side-by-side layout */
  align-items: center; /* Align image and heading vertically centered */
  margin-bottom: 20px;
  cursor: pointer;
  gap: 10px; /* Space between the image and the heading */
  text-decoration: none;
}

.post:hover {
  color: blue; /* Change the color to white on hover */
}

.post p {
    font-size: 14px; /* Smaller text size for the description */
    color: #666666; /* Lighter grey color for the text */
    line-height: 1.6; /* Line height adjustment for better readability */
    margin: 5px 0; /* Small margin above and below the text */
}

.post span {
    font-size: 10px; /* Smaller text size for the description */
    color: #666666; /* Lighter grey color for the text */
    line-height: 1.6; /* Line height adjustment for better readability */
    margin: px 0; /* Small margin above and below the text */
}


.post img {
  width: 80px; /* Adjust size of the image */
  height: 80px; /* Keep it square */
  object-fit: cover; /* Ensure the image doesn't distort */
  border-radius: 5px; /* Optional: Rounded corners */
}


.post h2 {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Adjust heading size */
  color: white;
}

.game-section #ludo-board {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-gap: 2px;
  background-color: white;
  border: 2px solid #000;
}

